.MaskGroup {
    display: flex;
    margin-top: 93px;
    margin-left: 40px;
    width: 1363px;
    height: 610px;

    /* background: linear-gradient(90deg, #211F20 0%, rgba(68, 64, 63, 0) 100%); */
}

.img_MaskGroup {
    z-index: 0;
}

.cards_MaskGroup {
    display: flex;
}

.h1_MaskGroup {
    margin-top: 100px;
    display: flex;
    width: 204px;
    height: 39px;
    position: absolute;
    /* left: 100px; */
    margin-left: 70px;

    font-family: "Duru Sans", sans-serif;
    font-style: normal;
    /* font-weight: 600; */
    font-size: 32px;
    line-height: 39px;

    text-transform: uppercase;

    color: #FFFFFF;
    z-index: 1;
}

.p_MaskGroup {
    margin-left: 70px;
    margin-top: 165px;
    z-index: 1;

    position: absolute;
    width: 563px;
    height: 225px;
    /* left: 108px; */
    /* top: 2592px; */

    font-family: "Duru Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;


    color: #CFCFCF;
}

.bnt_MaskGroup {
    box-sizing: border-box;
    margin-left: 70px;
    margin-top: 485px;

    position: absolute;
    width: 223px;
    height: 59px;
    /* left: 108px; */
    /* top: 2877px; */

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: #CFCFCF;
    cursor: pointer;

    border-radius: 10px;
}

.bnt_MaskGroup:hover {
    border-color: #00a650;
    color: #00a650;
}

.bnt_MaskGroup:hover:after,
.bnt_MaskGroup:focus:after {
    width: 100%;
}

.cards_MaskGroup {
    display: flex;
    cursor: pointer;
    position: relative;
    bottom: 3050px;
}


.cards_MaskGroup_items_one {
    display: flex;
    position: absolute;
    width: 228px;
    height: 227px;
    left: 831px;
    top: 2498px;
    background: rgba(80, 75, 74, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.card_items:hover {
    color: #79B282;
    /* background-color: #00a650; */
    cursor: pointer;
}

.cards_MaskGroup_items_two {
    display: flex;
    position: absolute;
    width: 228px;
    height: 227px;
    left: 1071px;
    top: 2498px;
    background: rgba(80, 75, 74, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.cards_MaskGroup_items_three {
    display: flex;
    position: absolute;
    width: 228px;
    height: 227px;
    left: 831px;
    top: 2738px;
    background: rgba(80, 75, 74, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.cards_MaskGroup_items_four {
    display: flex;
    position: absolute;
    width: 228px;
    height: 227px;
    left: 1071px;
    top: 2738px;
    background: rgba(80, 75, 74, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.ccc:hover {
    background-image: #00a650;
    color: #79B282;
}

.card_item_p {
    margin-top: 33px;
    margin-bottom: 40px;

    font-family: "Duru Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;

}

.svg_cards_item {
padding-top: 50px;
}